[class="a"]
{
	background-size:contain;padding:px;margin:500000px
	background-color:mediumblue;border: 10px solid red; background-position: 50% 50%;
}
}
[class="ak"]
{
	padding-left:1000 px; 
		background-position:left; background-position: 50% 50%;
}