
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link href='../../test.css' rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-light bg-light" id="mynav">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">EETZY</span>
        </div>
    </nav>
    <div class="container-fluid  mycontainer">
      <div class="row  myrow">
          <div class="col col-xs-0 col-sm-7 " id="signupdiv">
            <img src="../../signup.svg" width="100%" height="100%" />
          </div>
          <div class="col col-xs-12 col-sm-5" id="loginarea">
              <h3 > Hello User :) </h3><hr>
              <br>
        <form>    
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" /> </br></br>
        <label for="password">Password</label><br>
        <input type="password" id="passwd" name="password" /></br></br>
        <label for="passwd">Confirm Password</label><br>
        <input type="password"  id="passwd" name="cpassword" /></br></br>
        <button class="btn btn-primary mybtn">Create account</button>
        <p id="infodiv"></p>
        Already signedup? Try logging in.
    </form>
    <a class="btn btn-light mybtn" href="/web/">Login</a>
        <script  type="text/javascript" src="../../createacc.js" ></script>

          </div>
      </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>

   